In [1]:
###### ADD THIS TO MASTER FILE


import requests
import json
import pandas as pd
import datetime
from pprint import pprint
import gmaps
import gmaps.datasets
import math
import time

from config import gkey
gmaps.configure(api_key=gkey)

In [2]:
csv_file = "bike_data_auto.csv"
bike_api = pd.read_csv(csv_file)

In [3]:
#with open('bike_data.csv', 'w') as f:
#    biker_data.to_csv(f, header=True,index=False)

In [4]:
#with open('bike_data.csv', 'a') as f:
#   biker_data.to_csv(f, header=False,index=False)

In [5]:
print(len(bike_api))

35046

In [6]:
bike_api.groupby(['term_num'])

In [7]:
#casual_hour = m.loc[m['Member type'] == 'Casual', :].groupby('Hour')['Bike number'].count()
zero_bikes = bike_api.loc[bike_api['num_bikes'] == 0, :].groupby('term_num').first()
one_bike = bike_api.loc[bike_api['num_bikes'] == 1, :].groupby('term_num').first()

In [8]:
zero_bikes

,time,term_id,address,lat,long,num_bikes,num_empty_docks,obj_id
term_num,,,,,,,,
31099,2019-01-21 10:35:00,382,Madison & N Henry St,38.813485,-77.049468,0,15,238900308
31123,2019-01-21 10:35:00,397,14th & Girard St NW,38.925284,-77.032375,0,22,238900323
31201,2019-01-21 10:35:00,23,15th & P St NW,38.909850,-77.034438,0,13,238900385
31226,2019-01-21 10:35:00,90,34th St & Wisconsin Ave NW,38.916442,-77.068200,0,9,238898752
31503,2019-01-21 13:45:00,61,Florida Ave & R St NW,38.912600,-77.013500,0,15,238920440
31506,2019-01-21 12:51:00,147,1st & Rhode Island Ave NW,38.915417,-77.012289,0,15,238913774

In [9]:
one_bike_layer = gmaps.symbol_layer(one_bike[['lat', 'long']], fill_color='red', stroke_color='red', scale=4)
#marker_layer_end = gmaps.symbol_layer(routes_ten[['End Lat', 'End Long']].head(50), fill_color='red', stroke_color='red', scale=3)

fig = gmaps.figure()
fig.add_layer(one_bike_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#bike_locations = [zero_bikes['lat'] for bikes in zero_bikes]
info_box_template = """
<dl>
<dt>Address</dt><dd>(zero_bikes['address'])</dd>
<dt>Number Docks</dt><dd>(zero_bikes['num_empty_docks'])</dd>
</dl>
"""
#bike_info = [info_box_template.format(*bikes) for bikes in zero_bikes]

zero_bikes_layer = gmaps.symbol_layer(zero_bikes[['lat', 'long']], fill_color='red', stroke_color='red', scale=4, \
                                      info_box_content=[f"Address: {c['address']} <br/>Num Docks: {c['num_empty_docks']}" for i, c in zero_bikes.iterrows()])
fig = gmaps.figure()
fig.add_layer(zero_bikes_layer)
fig

Figure(layout=FigureLayout(height='420px'))